<div class="container" style="margin-top: 85px;">

  <div class="ui-g">
    <div class="ui-g-12">
      <p-panel>
        <p-header>
          <div class="ui-helper-clearfix">
            <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px; align-content: center">Pesquisa
              de Lançamento</span>
            <div class="ui-toolbar-group-right ">

              <a pButton icon="fa fa-usd" label="Receitas" class="ui-button-success" pTooltip="Lista" tooltipPosition="top"
                routerLink="/lancamentos/receitas"></a>

              <a pButton icon="fa fa-money" label="Despesas" class="ui-button-danger" pTooltip="Lista" tooltipPosition="top"
                routerLink="/lancamentos/despesas"></a>

              <a pButton label="Novo Lançamento" icon="pi pi-plus" pTooltip="Novo" class="ui-button-primary"
                tooltipPosition="top" routerLink="/lancamentos/novo"></a>

            </div>
          </div>
        </p-header>

        <div class="ui-g ">
          <div class="ui-g-12">

            <div class="ui-g">

              <div class="ui-g-12 ui-fluid">

                <fieldset [ngClass]="{'ui-fieldset ui-widget ui-widget-content ui-corner-all': true}">

                  <legend>Busca</legend>

                  <form autocomplete="off" (ngSubmit)="pesquisar()">
                    <div class="ui-g-12  ui-fluid">
                      <div class="form-group has-feedback">
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="Busca Lançamento ..." name="nome"
                            [(ngModel)]="filtro.descricao">
                          <span class="input-group-btn">
                            <button pButton class="btn btn-flat form-control" type="submit" icon="fa fa-search" label="Pesquisar"></button>
                          </span>
                        </div>
                      </div>
                    </div>

                  </form>

                </fieldset>
              </div>
              <div class="ui-g-12 ui-fluid">

                <div class="card">
                  <div class="card-header text-white bg-success">
                    Receitas do Mês {{ dataHoje | date:'MM/yyyy' }}
                  </div>
                  <div class="card-body">

                    <p-table [columns]="cols" [value]="receitas" [responsive]="true" [paginator]="true" [rows]="filtro.itensPorPagina"
                      [lazy]="true" [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)" #tabelaReceita>
                      <ng-template pTemplate="header" let-columns>
                        <tr>
                          <th *ngFor="let col of columns" [ngClass]="[col.class]">
                            {{col.header}}
                          </th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-lancamento let-rowIndex="rowIndex">
                        <tr>
                          <td class="col-data">
                            <span class="ui-column-title">#</span>
                            {{rowIndex + 1}}
                          </td>
                          <td>
                            <span class="ui-column-title">Nome</span>
                            {{ lancamento.pessoa }}</td>
                          <td>
                            <span class="ui-column-title">Descrição</span>
                            {{ lancamento.descricao }}</td>
                          <td class="col-data">
                            <span class="ui-column-title">Vencimento</span>
                            {{ format(lancamento.dataVencimento)}}</td>
                          <td class="col-data">
                            <span class="ui-column-title">Pagamento</span>
                            <span *ngIf="trataPagamento(lancamento.dataPagamento)">{{
                              format(lancamento.dataPagamento)}} </span>
                            <span *ngIf="!trataPagamento(lancamento.dataPagamento)"> <a pButton icon="fa fa-usd" class="ui-button-success"
                                pTooltip="Baixar" tooltipPosition="top" [routerLink]="['/lancamentos', lancamento.codigo, lancamento.codigo]"></a>
                            </span>
                          </td>
                          <td class="col-valor" [style.color]="testaTipo(lancamento.tipo) ? 'blue' : 'red'">
                            <span class="ui-column-title">Valor</span>
                            {{getFormattedPrice(lancamento.valor)}}
                          </td>

                          <td class="col-valor" [style.color]="getValorMaiorZero(lancamento.valorPagoRecebido) ? 'blue' : 'red'">
                            <span class="ui-column-title">Recebido</span>
                            {{getFormattedPrice(lancamento.valorPagoRecebido)}}
                          </td>

                          <td class="col-acoes">
                            <a pButton icon="fa fa-pencil" class="ui-button-info" pTooltip="Editar" tooltipPosition="top"
                              [routerLink]="['/lancamentos', lancamento.codigo]"></a>

                            <button pButton icon="fa fa-trash" class="ui-button-danger" pTooltip="Excluir"
                              tooltipPosition="top" (click)="confirmarExclusao(lancamento)" [disabled]="!auth.temPermissao('ROLE_REMOVER_LANCAMENTO')"></button>

                          </td>
                        </tr>
                      </ng-template>

                      <ng-template pTemplate="emptymessage">
                        <tr>
                          <td colspan="6">
                            Nenhuma receita na semana
                          </td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                  <div class="card-footer text-muted">
                    <div class="ui-g-offset-8 ui-sm-12 ui-sm-offset-0 ui-fluid">
                      <label>Total <i class="fa fa-arrow-right" aria-hidden="true"></i></label>
                      <span> R$ {{totalReceitas | number:'1.2-2'}}</span>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </p-panel>
    </div>
  </div>

</div>
