
.col-valor {
  width: 120px;
  text-align: right;
  font-size: 0.8em;
}

.col-data-header {
  width: 105px;
  text-align: center;
  font-size: 0.8em;
}

.col-data-headerr {
  width: 79px;
  text-align: center;
  font-size: 0.8em;
}

